.body {
    background-color: aqua;
 }


.body {
    font-family: 'Great Vibes', cursive;
    font-family: 'Ubuntu', sans-serif;
}


.container1 {
    background-color: #FFF5F7;
}


.container2 {
    background-color: #88AB8E;
}


.container3 {
    background-color: #88AB8E;
}

.container4 {
    background-color:  #AFC8AD;
}


.container5 {
    background-color: #AFC8AD;
    
}

.container6 {
    background-color: #AFC8AD;
}

.container7 {
    background-color: #EEE7DA;
}


.col-lg-6mx-auto {
    background-color: #EEE7DA;
    
}




.nav-item {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    

